@import url("../../styles/global.css");

.text-fade {
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in; /* Fade-in transition */
}

.text-fade.visible {
  opacity: 1; /* Fully visible */
}