@import url("../../../styles/global.css");

.footer {
  position: relative;
  display: flex;
  color: var(--bs-gray-300);
  justify-content: center; /* Align content to the start (left) */
  align-items: flex-end; /* Align content to the end (bottom) */
  height: 5vh; 
  background-color: rgba(0, 0, 0, 1);  
  text-align: center;
  padding: 20px;
  
}

.footer-content {
  display: flex;
  align-items: flex-end; /* Align content to the end (bottom) */
  position: absolute;
  bottom: 20px; 
  font-size: 0.9rem; 
}

.footer svg {
  display: inline-block;
  vertical-align: top;
}