@import url("./bootstrap.min.css");

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image:  
                    url('../static/images/starry-bg.gif'),                      
                    url('../static/images/starry-bg3.gif');
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;      
}

body[data-bs-theme="dark"] {
  background-color: var(--bs-body-bg); /* Fallback background color */
  background-image:  
                    url('../static/images/starry-bg.gif'),                      
                    url('../static/images/starry-bg3.gif');
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed; /* Optional: Makes the background image fixed */
  color: var(--bs-body-color); /* Ensure text color is readable */
}

body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../static/images/starry-bg2.gif');                                          
  background-size: contain;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;   
  transform: rotate(45deg); /* Rotate the background image */
  z-index: -1;
}

body::after {
  transform: rotate(-45deg); /* Rotate the background image in the opposite direction */
}

@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-Thin.ttf");
  src: local("AtlasGroteskLC Thin"), local("AtlasGroteskLC-Thin"),
    url("../fonts/AtlasGroteskLC-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-Light.ttf");
  src: local("AtlasGroteskLC Light"), local("AtlasGroteskLC-Light"),
    url("../fonts/AtlasGroteskLC-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-Regular.ttf");
  src: local("AtlasGroteskLC Regular"), local("AtlasGroteskLC-Regular"),
    url("../fonts/AtlasGroteskLC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-Medium.ttf");
  src: local("AtlasGroteskLC Medium"), local("AtlasGroteskLC-Medium"),
    url("../fonts/AtlasGroteskLC-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-Bold.ttf");
  src: local("AtlasGroteskLC Bold"), local("AtlasGroteskLC-Bold"),
    url("../fonts/AtlasGroteskLC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-Black.ttf");
  src: local("AtlasGroteskLC Black"), local("AtlasGroteskLC-Black"),
    url("../fonts/AtlasGroteskLC-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-ThinItalic.ttf");
  src: local("AtlasGroteskLC-ThinItalic"), local("AtlasGroteskLC-ThinItalic"),
    url("../fonts/AtlasGroteskLC-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-LightItalic.ttf");
  src: local("AtlasGroteskLC LightItalic"), local("AtlasGroteskLC-LightItalic"),
    url("../fonts/AtlasGroteskLC-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-RegularItalic.ttf");
  src: local("AtlasGroteskLC-RegularItalic"), local("AtlasGroteskLC-RegularItalic"),
    url("../fonts/AtlasGroteskLC-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-MediumItalic.ttf");
  src: local("AtlasGroteskLC-MediumItalic"), local("AtlasGroteskLC-MediumItalic"),
    url("../fonts/AtlasGroteskLC-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-BoldItalic.ttf");
  src: local("AtlasGroteskLC-BoldItalic"), local("AtlasGroteskLC-BoldItalic"),
    url("../fonts/AtlasGroteskLC-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "AtlasGroteskLC";
  src: url("../fonts/AtlasGroteskLC-BlackItalic.ttf");
  src: local("AtlasGroteskLC-BlackItalic"), local("AtlasGroteskLC-BlackItalic"),
    url("../fonts/AtlasGroteskLC-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

.link {
  display: inline-flex;
}

.date {    
  display: inline-flex;
}

.social-media-icons {
  display: flex;
  gap: 10px; /* Add space between icons */
}

.social-media-icons a {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.social-media-icons svg {
  width: 100%;
  height: 100%;
}

.subtitle {
  position: relative;
  color: lightgray;
  font-variant: small-caps;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "AtlasGroteskLC", sans-serif;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem; /* Adjust the font-size for mobile devices */
  }  
  .subtitle {
    font-size: 1rem;
  }
}