@import url("../styles/global.css");

.storybook-footer {
  position: relative;
  display: flex;
  color: var(--bs-gray-300);
  justify-content: center; /* Align content to the start (left) */
  align-items: flex-end; /* Align content to the end (bottom) */
  height: 25vh; /* Set height to 25vh */
  background-color: transparent; /* Set background color to black */
  text-align: center;
  padding: 20px;
  
}

.footer-content {
  display: flex;
  align-items: flex-end; /* Align content to the end (bottom) */
  position: absolute;
  bottom: 20px; 
  font-size: 0.6rem; 
}

.storybook-footer svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-footer h1 {
  justify-content: center;
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 6px 10px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
}



