@font-face {
  font-family: 'Atlas Grotesk';
  src: url('../fonts/AtlasGroteskLC-Black.ttf') format('truetype'),
       url('../fonts/AtlasGroteskLC-BlackItalic.ttf') format('truetype'),
       url('../fonts/AtlasGroteskLC-Bold.ttf') format('truetype'),
       url('../fonts/AtlasGroteskLC-BoldItalic.ttf') format('truetype'),
       url('../fonts/AtlasGroteskLC-Light.ttf') format('truetype'),
       url('../fonts/AtlasGroteskLC-LightItalic.ttf') format('truetype'),
       url('../fonts/AtlasGroteskLC-Medium.ttf') format('truetype'),
       url('../fonts/AtlasGroteskLC-MediumItalic.ttf') format('truetype'),
       url('../fonts/AtlasGroteskLC-Regular.ttf') format('truetype'),
       url('../fonts/AtlasGroteskLC-RegularItalic.ttf') format('truetype'),
       url('../fonts/AtlasGroteskLC-Thin.ttf') format('truetype'),
       url('../fonts/AtlasGroteskLC-ThinItalic.ttf') format('truetype')    
}

.storybook-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  font-family: 'Atlas Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  z-index: -1;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../static/images/san-diego.svg');
  background-size: cover;
  background-position: center;
  background-color: #000;
  z-index: -1;
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-header h1 {
  justify-content: center;
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 6px 10px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
}

.animated-text {
  display: inline-block;
  vertical-align: top;
  line-height: 1.2; /* Ensure the line height is consistent */
}