.storybook-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  text-align: center;
  z-index: 0; /* Ensure the header is above the background */
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../static/images/san-diego.svg');
  opacity: 0.45;
  background-size: cover;
  background-position: center;
  background-color: #000;
  z-index: -1; /* Ensure the background is behind the content */
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-header h1 {
  justify-content: center;
  display: inline-block;  
  margin: 6px 0 75px 10px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
}

.menu-bar-container {
  position: absolute; /* Fixed position */
  bottom: 100px; /* 20px from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  width: auto; /* Adjust width as needed */
  display: flex; /* Ensure the menu bar container is a flex container */
  justify-content: center; /* Center the menu bar */
  padding: 10px 20px; /* Add some padding */
  background-color: none; /* Semi-transparent background */
  border-radius: 30px; /* Rounded corners */
  z-index: 1; /* Ensure it is above other content */
}