.storybook-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  text-align: center;
  z-index: 0;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../static/images/san-diego.svg');
  opacity: 0.45;
  background-size: cover;
  background-position: center;
  background-color: #000;
  z-index: -1;
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-header h1 {
  justify-content: center;
  position: relative; 
  padding: 10px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
  color: #fff;
  width: 100%; 
  height: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .storybook-header h1 {
    font-size: 2.5rem; /* Adjust the font-size for mobile devices */
  }
}

.menu-bar-container {
  position: absolute; 
  bottom: 50px; 
  left: 50%; 
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 30px;
  z-index: 1;
  transition: width 0.3s ease;
}

.menu-bar-container.sticky {  
  position: fixed;
  top: 0;
  left: 50%;
  bottom: auto;
  transform: translateX(-50%);
  width: 100vw;
  margin: 0;
  border-radius: 30px;
  transition: all 0.3s ease;
}